{% extends "base.html" %}
{% block title %}О нас{% endblock %}
{% block content %}
        <h1>О нас</h1>
        <ul>
            <li><p>Правовые документы</p></li>
            <li><p>Контакты</p></li>
            <li><p>Телефон: 88888888888</p></li>
            <li><p>Почта: 123@gmail.com</p></li>
            <li><p>Мы распологаемся по адресу Балаклавский проспект, 6, Москва, Россия</p></li>
        </ul>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A638402d40052da12c89ced3718c8c562f0d63de9764f383e237db9ff3f0e53a2&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

        <form method="post">

            <legend>Написать отзыв</legend>
            Ваше имя: <input type="text" name="name"> <br>
            <textarea name="review" id="" cols="100" rows="17"></textarea>
            <input type="reset">
            <input type="submit">

        </form>
        {% if feedback %}
            <div>
                <h3>{{feedback}}</h3>
                {% for feed in feedback %}
                    <div class="feedback">
                        <p>{{feed.name+':'}}</p>
                        <p>{{feed.review}}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

{% endblock %}

