{% extends "base.html" %}
{% block title %}Каталог{% endblock %}
{% block content %}
        <h1>Каталог</h1>
        <h3>Флешки</h3>

        <div class='catalog_items'>
            {% for good in goods %}
                <div class="catalog_item">
                    <div class="description">
                        <div>
                            <p><a href={{good.link()}}>{{good.name}}</a></p>
                        </div>
                        <div>
                            <a href={{good.link()}}><img class=BuylistImage src="{{ url_for('static', filename=good.photo_link) }}" alt="Флешка №1"></a>
                        </div>
                    </div>
                    <div class="description">
                        <p>16 GB</p>
                        <p>Цвет: {{good.colour}}</p>
                        <p>Цена: {{good.price.price}} рублей</p>
                        {% if good.id in quantity %}
                            <p>В корзине: {{quantity[good.id]}}</p>
                        {% endif %}
                        <form method="POST">
                            <button type="submit" name="buy" value="{{good.id}}" class="btn btn-primary">Купить</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}