{% extends "base.html" %}
{% block title %}{{good.name}}{% endblock %}
{% block content %}
        <div class="description">
            <h1>{{good.name}}</h1>
            <img src="{{ url_for('static', filename=good.photo_link) }}" alt=good.name class='productImage'>
        </div>
        <div class="description">
            <p>16 GB</p>
            <p>Цвет: {{good.colour}}</p>
            <p>Цена: {{good.price.price}} рублей</p>
            <p>В корзине: {{ quantity }}</p>
            <form method="POST">
                <input type="submit" value="Купить" class="btn btn-primary">
            </form>
        </div>
{% endblock %}