ul {
    list-style-type:none
}

header {
    width: 100%;
    background-color: #0FA;
    height: 80px;
}

footer{
    background-color: #0FA;
    height: 60px;
}

a{
    text-decoration: none;
    color: black;
    font-size: large;
}

p{
    font-size: large;
}

.logot{
    width: 100px;
    height: 60px;
    display: inline-block;
}

.menu_links{
    margin-left: auto;
    margin-right: 0;
    display: inline-block;
}

.menu_link {
    text-align: right;
    display: inline-block;
    margin-right: 20px;
}

.container{
    margin: 0 auto;
    padding-left: 30px;
}

.catalog_item{
    display: inline-block;
}

.BuylistImage{
    width: 200px;
    height: 200px;
    outline:3px solid blue;
}

.productImage{
    width: 400px; 
    height: 400px;
    outline:3px solid blue;
}