{% extends "base.html" %}
{% block title %}Каталог{% endblock %}
{% block content %}
    <div>
        
        <h1>Каталог</h1>
        <h3>Флешки</h3>
        
        <div class="filters">
            <form method="POST">
                <div class = 'filter'>
                    <div>Минимальная цена:</div>
                    <input type="text" name="min_price" class="form-control" value="{{ min_price }}">
                </div>
                <div class = 'filter'>
                    <div>Максимальная цена:</div>
                    <input type="text" name="max_price" class="form-control" value="{{ max_price }}">
                </div>
                <div class="filter">
                    <div>В наличии:</div>
                    <input type="checkbox" id="scales" name="in_stock" {% if in_stock %}checked{% endif %}>
                </div>
                <div>
                    <button type="submit" name="sort" value="sort" class="btn btn-primary">Применить</button>
                </div>
            </form>
        </div>

        <div class='catalog_items'>
            {% for good in goods %}
                <div class="catalog_item">
                    <div class="description">
                        <div>
                            <p><a href={{good.link()}}>{{good.name}}</a></p>
                        </div>
                        <div>
                            <a href={{good.link()}}><img class=BuylistImage src="{{ url_for('static', filename=good.photo_link) }}" alt="Флешка №1"></a>
                        </div>
                    </div>
                    <div class="description">
                        <p>16 GB</p>
                        <p>Цвет: {{good.colour}}</p>
                        <p>Цена: {{good.price.price}} рублей</p>
                        <p>В наличии: {{ good.quantity }} штук</p>
                        {% if good.id in quantity %}
                            <p>В корзине: {{quantity[good.id]}}</p>
                        {% endif %}
                        <form method="POST">
                            <button type="submit" name="buy" value="{{good.id}}" class="btn btn-primary">Купить</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}