{% extends "base.html" %}
{% block title %}Мои заказы{% endblock %}
{% block content %}
    {%for order in orders %}
        <div class="order">
            <div>Заказ #{{order}}:</div>
            <table>
                <tr>
                    <th>Название товара</th>
                    <th>Изображнеие</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Стоимость</th>
                </tr>
                {% for item in orders[order] %}
                    <tr>
                        <td><a href={{item.good.link()}}>{{ item.good.name }}</a></td>
                        <td><a href={{item.good.link()}}><img class="order_image" src="{{ url_for('static', filename=item.good.photo_link) }}" alt={{item.good.name}}></a></td>
                        <td>{{ item.price.price }} руб.</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price.price*item.quantity }} руб.</td>
                    </tr>
                {% endfor %}
            </table>
            <div>Суммарная стоимость: {{ total[order] }} руб.</div>
        </div>
    {% endfor %}
{% endblock %}